{% assign locale = include.locale | default: site.locale %}
{% assign tag_archive_path = "/etiketler/" %}
{% if site.active_lang == "en" %}
  {% assign tag_archive_path = "/tags/" %}
{% endif %}

{% if page.tags and page.tags[0] %}
  {% assign tags_sorted = page.tags | sort_natural %}

  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-tags" aria-hidden="true"></i> {{ site.data.ui-text[locale].tags_label | default: "Tags:" }} </strong>
    <span itemprop="keywords">
    {% for tag_word in tags_sorted %}
      <a href="{{ tag_word | slugify | prepend: '#' | prepend: tag_archive_path | relative_url }}" class="page__taxonomy-item p-category" rel="tag">{{ tag_word }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
    {% endfor %}
    </span>
  </p>
{% endif %}
